/**
 * layout
 * ------
 * glues together common layout elements (sidebars, header, footer, etc)
 */

/**
 * main layout:
 *  small:
 *  - header scrolls with content
 *  - navbar off-screen to left
 *  wide screen:
 *  - header fixed
 *  - navbar pinned at left with icons
 */
.main-window {
	display: flex;
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	overflow: hidden;
}

.main-container {
	flex-grow: 1;
	overflow-y: auto;

    @media (min-width: 768px) {
        margin-top: 64px;
    }
}

.main-content {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.navbar--open {
	.header {
		left: @sidebar-left-width;
	}
}
.navbar--pinned {
	.header {
		left: @sidebar-left-width;
	}
}