/**
 * spacing
 * -------
 * utility classes for margin and padding properties.
 */

@sp__unit: 1em;


/**
 * margin (.m-)
 */
.ds-m { margin: @sp__unit; }
.ds-m-l { margin-left: @sp__unit; }
.ds-m-r { margin-right: @sp__unit; }
.ds-m-t { margin-top: @sp__unit; }
.ds-m-b { margin-bottom: @sp__unit; }
.ds-m-x { margin-left: @sp__unit; margin-right: @sp__unit; }
.ds-m-y { margin-bottom: @sp__unit; margin-top: @sp__unit; }


/**
 * padding (.p-)
 */
.ds-p { padding: @sp__unit; }
.ds-p-l { padding-left: @sp__unit; }
.ds-p-r { padding-right: @sp__unit; }
.ds-p-t { padding-top: @sp__unit; }
.ds-p-b { padding-bottom: @sp__unit; }
.ds-p-x { padding-left: @sp__unit; padding-right: @sp__unit; }
.ds-p-y { padding-bottom: @sp__unit; padding-top: @sp__unit; }