/**
 * typography.less
 * ---------------
 * base typography styles.
 */


h1 {
	margin: 0;
}

h2,
h3,
h4,
h5,
h6 {
	font-weight: normal;
	margin-bottom: .5em;
	margin-top: 1.5em;
}


blockquote {
	border-left: .5rem solid lighten(@c-gray, 30%);
	font-style: italic;
	margin: 0;
	padding-left: 1rem;
	padding-right: 1rem;
}


pre {
	tab-size: 4;
}


.ds-faq {
	cursor: pointer;
	display: block;
	font-weight: normal;
	margin-bottom: 1rem;
	margin-top: 1rem;

	h3 {
		margin: 0;
	}
}

.ds-faq__answer {
	display: none;

	> :first-child {
		margin-top: 0;
	}
	> :last-child {
		margin-bottom: 0;
	}
}