/**
 * .main
 * -----
 * main layout elements.
 */


/** defaults */
*,
*:before,
*:after {
	box-sizing: border-box;
}
html {
	height: 100%;
	line-height: 1.5;
	overflow: hidden;
	-ms-overflow-style: none;
}
body {
	font-family: roboto, sans-serif;
	height: 100%;
	position: relative;
	transition: opacity .5s;

	& when (@header--fixed = true) {
		overflow: hidden;
	}
	& when (@header--fixed = false) {
		overflow-y: auto;
	}
}

/** main window */
.ds-main {
	display: flex;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	top: 0;
	overflow: hidden;
}

/** main container */
.ds-main__container {
	flex-grow: 1;

	& when (@header--fixed = false) {
		overflow-y: auto;
	}

	@media (min-width: 768px) {
		// margin-top: @header__height--768;
	}
}

/** main content area */
.ds-main__content {
	padding: (@spu * 2) (@spu * 2) (@spu * 4);
	width: 100vw;
	transition: width @transition__duration;

	& when (@navbar__pin-on-wide = true) {
		@media (min-width: 1280px) {
			width: ~"calc(100vw - @{navbar__width})";
		}
	}

	& when (@header--fixed = true) {
		height: ~"calc(100vh - @{header__height})";
		overflow-y: auto;
	}

	.ds-navbar--open & {
		width: 100vw;
	}
}
